#kosmonaut-admin{
  background: #ccc;
  color: #444;
  padding: 4px;
  
  #flash{
    width: 300px;
    padding: 8px;
    background: white;
    border: orange 4px solid;
  }
  
  .info{
    color: #999;
    font-style: italic;
  }

}

#kosmonaut-form{
  label{
    display: block;
  }
}



